$azulPrincipal: #003580;
$azulSecundario: #0071c2;
$grisPrincipal: #333;
$grisSecundario: #6b6b6b;

$ancho_logo:150px;
$ancho_bandera_spain:2rem;

$bgHeader:#f5f5f5;
$bordeBottomHeader: 1px solid #dfdfdf;
$bgBannerCovid: #fefbf0;
$bordeInput:1px solid yellow;
$sombra:1px 1px 1px #000;

$fuente: Helvetica, sans-serif;

$tablet: 480px;
$escritorio: 768px;