/* Cabecera */
header {
    background-color: #333;
    color: #fff;
    position: relative;
    float: left;
    width: 100%;
}

/* Logo */
.logo{
    max-width: 150px;
    position: relative;
    float: left;
}

/* Menu Hamburguesa */

nav{
    display: none;
}

.fa{
    position: relative;
    float: right;
}

.fa:hover nav{
    display: block;
    background-color: grey;
    position: absolute;
    right: 0px;
}





