//**********************************************************************
//                  FUNCIONES
//**********************************************************************
@mixin estilos_boton () {
  
    padding: 10px 20px;
    display: block;
    text-align: center;
    color: $principal;
    text-decoration: none;
    }


/** Media Queries **/
@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}
@mixin escritorio {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}







    