@mixin dispositivo($disp){
    @media  (min-width: $disp){
        @content;
    }
}

// GENERADOR DE BOTONES DE DIFERENTES COLORES
@mixin generarBoton($color, $colorLetra ,$tamano){
    background-color: $color;
    color: $colorLetra;
    padding: $tamano;
    font-size: 15px;
}
