//Tamaños QUERIES
$tablet: 468px;
$escritorio: 768px;

//COLORES
$primario:#7abe47;
$secundario:#ffc845;
$negro:#000000;
$claro:#ffffff;
$gris:#eeeeee;
$oscuro:#57a42b;

//MARGENES
$padding:1rem;
$paddingt:2rem;