/* =========== AJUSTES GENERALES ============== */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

body {
  background-color: #eeeeee;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* =========== HEADER ========== */
.fondoCabecera {
  background-color: #7abe47;
}
.fondoCabecera .contenedor {
  /* ====== NAVEGADOR ====== */
}
@media (min-width: 700px) {
  .fondoCabecera .contenedor {
    display: grid;
    grid-template-columns: 30% auto 30%;
    text-align: center;
  }
}
.fondoCabecera .contenedor .logo img {
  max-width: 100%;
}
.fondoCabecera .contenedor .navegador {
  color: white;
  grid-column: 3/4;
}
.fondoCabecera .contenedor .navegador ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.fondoCabecera .contenedor .navegador ul li {
  padding: 1rem 0 1rem;
}
.fondoCabecera .contenedor .navegador ul li:hover {
  background-color: #57a42b;
}

/* =========== MAIN ========== */
/* ====== NOSOTROS ====== */
.nosotros {
  display: grid;
  margin-top: 1rem;
}
@media (min-width: 700px) {
  .nosotros {
    grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros .texto {
    margin: 2rem;
  }
}
.nosotros img {
  margin-bottom: 1rem;
  max-width: 100%;
}

/* ============ ARTICULOS MOVIL ============== */
.articulos {
  /* Colocamos grid para movil para que se comporte como esta en el HTML */
  display: grid;
  gap: 1rem;
  /* -------- ESTILO PRINCIPAL -------- */
}
.articulos .destacado {
  grid-column: 1/3;
}
@media (min-width: 480px) {
  .articulos .destacado {
    grid-template-columns: 1fr 1fr;
  }
  .articulos .destacado img {
    grid-column: 1/2;
  }
  .articulos .destacado .texto {
    grid-column: 2/3;
  }
}
.articulos .articulo {
  display: grid;
  margin-bottom: 1rem;
  border: 1px solid gray;
  background-color: #ffffff;
}
.articulos .articulo img {
  max-width: 100%;
}
.articulos .articulo .texto {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
.articulos .articulo img {
  max-width: 100%;
}
.articulos .articulo .precio {
  color: #7abe47;
}
.articulos .articulo .precio b {
  color: #000000;
}
.articulos .articulo .btn {
  background-color: #7abe47;
  color: #ffffff;
  padding: 1rem;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
.articulos .articulo .btn:hover {
  background-color: #ffffff;
  color: #7abe47;
  padding: 1rem;
  font-size: 15px;
}
@media (min-width: 700px) {
  .articulos {
    grid-template-columns: repeat(3, 1fr);
  }
  .articulos .destacado {
    grid-column: 1/3;
  }
  .articulos .casa2 {
    grid-column: 3/4;
  }
  .articulos .casa3 {
    grid-column: 1/2;
  }
  .articulos .casa4 {
    grid-column: 2/3;
  }
  .articulos .casa5 {
    grid-column: 3/4;
  }
}

/* ================ FOOTER =================== */
.footer {
  background-color: #7abe47;
  color: #ffffff;
}
.footer .articulos {
  display: grid;
}
@media (min-width: 700px) {
  .footer .articulos {
    grid-template-columns: 30%, 20%, 2fr;
  }
  .footer .articulos .fArtNosotros {
    grid-column: 1/2;
  }
  .footer .articulos .fArtNavegacion {
    grid-column: 2/3;
  }
  .footer .articulos .fArtCasasVenta {
    grid-column: 3/4;
    display: grid;
  }
  .footer .articulos .fArtCasasVenta .casasVenta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}
.footer .articulos li {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
}
@media (min-width: 700px) {
  .footer .articulos li {
    grid-template-columns: 30% 1fr;
    gap: 1rem;
  }
}
.footer .articulos li img {
  max-width: 100%;
}
.footer .articulos li p {
  grid-column: 3/4;
  align-self: center;
}
.footer .abajoFooter {
  background-color: #57a42b;
  padding: 1rem 0 1rem;
  text-align: center;
}