/* =========== AJUSTES GENERALES ============== */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

body {
  background-color: #eeeeee;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* =========== HEADER ========== */
.fondoCabecera {
  background-color: #7abe47;
  /* ====== NAVEGADOR ====== */
}
.fondoCabecera .logo {
  padding: 1rem 0 1rem;
}
.fondoCabecera .logo img {
  max-width: 100%;
}
.fondoCabecera .navegador {
  color: white;
}
.fondoCabecera .navegador ul {
  display: grid;
}
@media (min-width: 768px) {
  .fondoCabecera .navegador ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
  }
}
.fondoCabecera .navegador ul li {
  padding: 1rem 0 1rem;
}
.fondoCabecera .navegador ul li:hover {
  background-color: #57a42b;
}

/* =========== MAIN ========== */
/* ====== NOSOTROS ====== */
.nosotros {
  display: grid;
  margin-top: 1rem;
}
.nosotros img {
  max-width: 100%;
}

/* ============ ARTICULOS MOVIL ============== */
.articulos {
  /* Colocamos grid para movil para que se comporte como esta en el HTML */
  display: grid;
  gap: 1rem;
  /* -------- ESTILO PRINCIPAL -------- */
}
.articulos .articulo {
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.articulos .articulo img {
  max-width: 100%;
}
.articulos .articulo .precio {
  color: #7abe47;
}
.articulos .articulo .precio b {
  color: #000000;
}
.articulos .articulo .btn {
  background-color: #7abe47;
  color: #ffffff;
  padding: 1rem;
  font-size: 15px;
  -webkit-transition: 2s;
  transition: 2s;
}
.articulos .articulo .btn:hover {
  background-color: #ffffff;
  color: #7abe47;
  padding: 1rem;
  font-size: 15px;
}

/* ================ FOOTER =================== */
.footer {
  background-color: #7abe47;
  color: #ffffff;
  text-align: center;
}
.footer .articulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem 0 1rem;
}
.footer .abajoF {
  background-color: #57a42b;
  padding: 1rem 0 1rem;
}