@import "_mixins";
@import "_variables";

/* =========== AJUSTES GENERALES ============== */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.contenedor {
  margin: 0 auto;
  max-width: 1100px;
}

body {
  background-color: $gris;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* =========== HEADER ========== */
.fondoCabecera {
  background-color: $primario;

  .contenedor {
    @include dispositivo($escritorio) {
      display: grid;
      grid-template-columns: 30% auto 30%;
      text-align: center;
    }
    .logo {
      img {
        max-width: 100%;
      }
    }
    /* ====== NAVEGADOR ====== */
    .navegador {
      color: white;
      grid-column: 3/4;
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        li {
          padding: 1rem 0 1rem;
          &:hover {
            background-color: $oscuro;
          }
        }
      }
    }
  }
}
/* =========== MAIN ========== */

/* ====== NOSOTROS ====== */
.nosotros {
  display: grid;
  @include dispositivo($escritorio) {
    grid-template-columns: 50% 50%;
    align-items: center;
    .texto {
      margin: 2rem;
    }
  }
  margin-top: 1rem;
  img {
    margin-bottom: $padding;
    max-width: 100%;
  }
}

/* ============ ARTICULOS MOVIL ============== */
.articulos {
  /* Colocamos grid para movil para que se comporte como esta en el HTML */
  display: grid;
  gap: 1rem;
  .destacado {
    
    grid-column: 1/3;
    @include dispositivo($tablet) {
      grid-template-columns: 1fr 1fr;
      img {
        grid-column: 1/2;
      }
      .texto {
        grid-column: 2/3;
      }
    }
  }
  /* -------- ESTILO PRINCIPAL -------- */
  .articulo {
    display: grid;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
    .texto {
      display: grid;
      gap: 1rem;
      padding: 1rem;
    }
    border: 1px solid gray;

    img {
      max-width: 100%;
    }

    .precio {
      color: $primario;
      b {
        color: $negro;
      }
    }

    background-color: $claro;
    .btn {
      @include generarBoton($primario, $claro, $padding);
      transition: 1s;
      &:hover {
        @include generarBoton($claro, $primario, $padding);
      }
    }
  }
  @include dispositivo($escritorio) {
    grid-template-columns: repeat(3, 1fr);
    .destacado {
      grid-column: 1/3;
    }
    .casa2 {
      grid-column: 3/4;
    }
    .casa3 {
      grid-column: 1/2;
    }
    .casa4 {
      grid-column: 2/3;
    }
    .casa5 {
      grid-column: 3/4;
    }
  }
}

/* ================ FOOTER =================== */
.footer {
  background-color: $primario;
  color: $claro;

  .articulos {
    display: grid;
    @include dispositivo($escritorio) {
      grid-template-columns: 30%, 20%, 2fr;
      .fArtNosotros {
        grid-column: 1/2;
      }
      .fArtNavegacion {
        grid-column: 2/3;
      }
      .fArtCasasVenta {
        grid-column: 3/4;
        display: grid;

        .casasVenta {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1rem;
        }
      }
    }

    li {
      display: grid;
      grid-template-columns: 30% 1fr 1fr;
      @include dispositivo($escritorio) {
        grid-template-columns: 30% 1fr;
        gap: 1rem;
      }
      img {
        max-width: 100%;
      }
      p {
        grid-column: 3/4;
        align-self: center;
      }
    }
  }
  .abajoFooter {
    background-color: $oscuro;
    padding: 1rem 0 1rem;
    text-align: center;
  }
}
